*{
    margin: 0;
    padding: 0;
}

body{
    font-family: sans-serif;
    background-color: #f4f4f4;
}

header{
    background-color: #F5F2E9;
    
}

header ul{
   display: flex;
   list-style: none;
   display: flex;
   justify-content: right;
   padding-bottom: 10px;
}

header nav h2{
    color: #333;
    padding: 10px 0px 5px 20px;
    font-weight: 200;
}

li{
    padding-left: 13px;
    padding-right: 13px;
}

a{
    text-decoration: none;
    color: #333;
    font-weight: 200;
}

.hero{
    height: 85vh;
    background: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.2)),
    url(./img/hero.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

h1{
    color: #cacaca;
    text-align: center;
    padding: 20px 0px;
    font-size: 60px;
    text-transform: uppercase;
}

.hero p{
    color:#cacaca;
    text-align: center;
    font-size: 20px;
}


.menu h2{
    color: #333;
    text-align: center;
    margin-top: 20px;
    font-size: 36px;
    font-weight: 200;
}

hr{
    width: 50px;
    border: 1px solid #333;
    margin: 10px auto 20px auto;
}


.card{
    display: flex;
    align-items: center;
    border-radius: 5px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    margin: 20px auto;
    padding: 10px;
    width: 650px;
    gap: 15px;
    border-left: #d8d8d896 5px solid;
    color: #333;
}

.card img{
    width: 200px;
    height: 200px;
    border-radius: 50%;
}

.card-info{
    flex: 1;
}

.card-info h3{
    padding-bottom: 20px;
    font-size: 20px;
}

.card-info p{
    font-size: 16px;
    font-style: italic;
}

.price{
    font-weight: bold;
    margin-left: auto;
}